## Production Amounts and Scope 1 and 2 Emission Values Per EAF Plant in the United States

### Loading Libraries

In [ ]:
import pandas as pd
import numpy as np
import janitor
import geopandas as gpd
import mapclassify as mc
from shapely.geometry import Point
import re

### Importing eGrid Data

The EPA eGrida Data, which was available for 2021 at the time of download, contains the emissions intensity of electricity produced in each sub region. For this analysis, we assume that each steel plant is drawing 100% of its electricity from the grid (and the eGrid subregion that it is located within).

In [ ]:
## Importing grid region electricity values
egrid2021_data = pd.read_excel('../data/eGRID2021_data.xlsx', sheet_name = "SRL21").clean_names(strip_underscores = True).drop(0)

### Standardizing state names and cleaning up rows in eGrid data

In [ ]:
## Cleaning egrid data for usability
emissions_by_subregion = egrid2021_data.copy()

## Data Processing on columns
emissions_by_subregion["co2e_lbs_per_mwh"] = pd.to_numeric(emissions_by_subregion["egrid_subregion_annual_co2_equivalent_combustion_output_emission_rate_lb_mwh"])
emissions_by_subregion['subregion'] = emissions_by_subregion['egrid_subregion_acronym']
emissions_by_subregion['subregion_name'] = emissions_by_subregion['egrid_subregion_name']
emissions_by_subregion['co2e_tonnes_per_mwh'] = emissions_by_subregion['co2e_lbs_per_mwh'] / 2204.62262185

## Filtering subregions
excluded_subregions = ["AKGD", "AKMS", "HIMS", "HIOA", "PRMS"]
emissions_by_subregion = emissions_by_subregion[~emissions_by_subregion['subregion'].isin(excluded_subregions)]

## Selecting desired columns
emissions_by_subregion = emissions_by_subregion[['subregion', 'subregion_name', 'co2e_tonnes_per_mwh']]

### Importing GEM data

The GEM data was provided by our client Caitlin Swalec and includes the plant names, locations, and plant capacities that we will be reviewing for the EAF steel plants.

In [ ]:
gem_data_readin = pd.read_excel("../data/GEM_2022_data.xlsx", sheet_name = "Steel Plants").clean_names(strip_underscores = True)

### Filtering to only look at plants and data that we are interested in

In [ ]:
## eaf_capacity is in thousand tonnes per year and we are standardizing to tonnes
gem_data_cleaned = gem_data_readin.copy()

## Filtering to the specifications we need
gem_data_cleaned = gem_data_cleaned[
       (gem_data_cleaned['country'] == "United States") &
       (gem_data_cleaned["status"] == "operating") &
       gem_data_cleaned['nominal_eaf_steel_capacity_ttpa'].notna()
]

## Needed to do this in another step to make sure start_date was properly filtered
gem_data_cleaned = gem_data_cleaned[
       (gem_data_cleaned['start_date'] < 2022) &
       (~gem_data_cleaned['plant_id'].isin(["SUS00009", "SUS00061"]))
]

## Renaming columns
gem_data_cleaned = gem_data_cleaned.rename(columns={'plant_name_english':'plant_name'
                                          , 'subnational_unit_province_state':'state'
                                          , 'location_address':'address'})

## Converting EAF capacity from Thousand Tonnes to Tonnes
gem_data_cleaned['eaf_capacity'] = pd.to_numeric(gem_data_cleaned['nominal_eaf_steel_capacity_ttpa'])
gem_data_cleaned['max_tonnes_of_steel_producible_annually'] = gem_data_cleaned['eaf_capacity'] * 1000

## Reordering columns to desired order
gem_data_cleaned = gem_data_cleaned[['plant_id'
         , 'plant_name'
         , 'owner'
         , 'coordinates'
         , 'country'
         , 'state'
         , 'status'
         , 'start_date'
         , 'plant_age_years'
         , 'max_tonnes_of_steel_producible_annually'
         , 'municipality'
         , 'address'
         , 'category_steel_product'
         , 'steel_products'
         , 'responsiblesteel_certification']]

## Removing columns we do not need
gem_data = gem_data_cleaned.drop(columns=['country', 'start_date', 'status', 'responsiblesteel_certification'])

## Separate the "coordinates" column into "lat" and "lon" columns
gem_data[['lat', 'lon']] = gem_data['coordinates'].str.split(',', expand=True)

## Remove the "coordinates" column
gem_data.drop(columns=['coordinates'], inplace=True)

## Reordering columns
gem_data = gem_data[['plant_id', 'plant_name', 'owner', 'lat', 'lon', 'state', 'plant_age_years', 'max_tonnes_of_steel_producible_annually', 'municipality', 'address', 'category_steel_product', 'steel_products']]

The eGrid data loaded below includes the electric grid subregions that we will be looking at. We are find which points overlap which with regions and are assigning those overlaps as the assigned region.

In [ ]:
## Reading in data
subregion_shapes_raw = gpd.read_file("../data/egrid2020_subregions/eGRID2020_subregions.shp").clean_names()

## Filtering subregion shapes
subregion_shapes = subregion_shapes_raw[~subregion_shapes_raw['zipsubregi'].isin(["AKGD", "AKMS", "HIMS", "HIOA", "PRMS"])]

## Simplifying subregion shapes
subregion_shapes['geometry'] = subregion_shapes.simplify(tolerance=0.0005)

## Bringing in plant points
plant_points = gpd.GeoDataFrame(gem_data, geometry=gpd.points_from_xy(gem_data['lon'], gem_data['lat']))
plant_points.crs = "EPSG:4326"

## Finding points that overlap with the egrid subregion
## Removing columns we dont need and renaming the subregion column
plant_emissions_by_subregion = gpd.sjoin(plant_points, subregion_shapes, op='within').drop(columns=['geometry', 'index_right', 'shape_leng', 'shape_le_1', 'shape_area']).rename(columns={'zipsubregi':'subregion'})

plant_emissions_by_subregion = plant_emissions_by_subregion.merge(emissions_by_subregion, on='subregion', how='left')

### Importing AISI data

The American Iron and Steel Institute (AISI) is a trade association that represents the North American steel industry. It gathers and provides data related to steel production, consumption, trade, and other industry metrics. The AISI data covers various aspects of the steel industry, including information on steel production volumes, capacities, and utilization rates.

We will be using these utilization rates in order to estimate the amount of steel produced per plant per week and per year.

In [ ]:
AISI_regions_readin = pd.read_excel("../data/AISI_regions.xlsx", sheet_name="Regions by State").clean_names(strip_underscores = True)

AISI_data_readin = pd.read_excel("../data/AISI_data.xlsx", sheet_name="AISI Production Values").clean_names(strip_underscores = True)

NE = Northeast

GL = Great Lakes

MW = Midwest

S = Southern

W = Western

### Filtering AISI data, renaming columns, and selecting the weekly data and utilization rates we need

**Uilization is based on tonnage capability to produce raw steel for a sustained full order book.**

In [ ]:
AISI_regions = AISI_regions_readin[AISI_regions_readin['steel_plant_in_gspt'] == "yes"]

AISI_data = AISI_data_readin.rename(columns = {'north_east_region_capacity_utilization':'NE_util'
                                          , 'great_lakes_region_capacity_utilization':'GL_util'
                                          , 'midwest_region_capacity_utilization':'MW_util'
                                          , 'southern_region_capacity_utilization':'S_util'
                                          , 'western_region_capacity_utilization':'W_util'})

AISI_data = AISI_data[['week_end_date', 'NE_util', 'GL_util', 'MW_util', 'S_util', 'W_util']]

AISI_data = AISI_data[AISI_data['week_end_date'] <= '2022-01-01']

AISI_data['week_end_date'] = pd.to_datetime(AISI_data['week_end_date'])

AISI_data['week_end_date'] = AISI_data['week_end_date'].dt.date

### Merging all of our data so far

In [ ]:
regional_plant_emissions = pd.merge(plant_emissions_by_subregion, AISI_regions, on = "state", how = "left")

regional_plant_emissions = regional_plant_emissions.drop(['steel_plant_in_gspt', 'state_abbreviation'], axis = 1)

conditions = [
    regional_plant_emissions['municipality'].isin(["Alton", "Sterling", "Peoria", "Granite City", "Mansfield", "Middletown"])
    , regional_plant_emissions['municipality'].isin(["Riverdale", "Chicago", "Bourbonnais", "Cuyahoga Heights", "Cleveland", "Toledo", "Lorain"])
    , regional_plant_emissions['municipality'].isin(["Mingo Junction", "Youngstown", "Canton"])
]

choices = ["Midwest", "Great Lakes", "North East"]

regional_plant_emissions['region'] = np.select(conditions, choices, default=regional_plant_emissions['region'])

### Defining carbon intensity for eaf steel production and preparing data to calculate intensities

In [ ]:
## co2e_tonnes_per_mwh is from eGrid and is pounds of CO2e per MWH of electricity produced per grid location (not regional location)

## Global Efficiency Intelligence states that it takes 710 KWH to produce 1 tonne of steel. "Global Efficiency Intelligence: Industrial Electrification in U.S. States"
## MWH per tonne of steel
eaf_MWH_per_tonne = 710 / 1000

## emissions_intensity is tonnes of CO2e per tonne of steel (the amount of co2e produced for every tonne of steel produced)

AISI_longer = AISI_data.melt(id_vars= 'week_end_date'
                           , value_vars = ['NE_util', 'GL_util', 'MW_util', 'S_util', 'W_util']
                           , var_name = 'region'
                           , value_name = 'utilization')

region_conditions = [
  AISI_longer['region'] == "NE_util"
  , AISI_longer['region'] == "GL_util"
  , AISI_longer['region'] == "MW_util"
  , AISI_longer['region'] == "S_util"
  , AISI_longer['region'] == "W_util"
]

region_choices = ["North East", "Great Lakes", "Midwest", "Southern", "Western"]

AISI_longer['region'] = np.select(region_conditions, region_choices)

### Finding Weekly Scope 2 co2e values and putting it in long and wide format

In [ ]:
## Merging our two datasets based on the region column and defining new columns
scope2_plant_emissions_long = pd.merge(regional_plant_emissions, AISI_longer, how = "left", on = "region")

## Creating relavent columns
scope2_plant_emissions_long['estimated_emissions_intensity_tonne_per_tonne_scope2'] = scope2_plant_emissions_long['co2e_tonnes_per_mwh'] * eaf_MWH_per_tonne
scope2_plant_emissions_long['max_tonnes_of_steel_producible_weekly'] = scope2_plant_emissions_long['max_tonnes_of_steel_producible_annually'] / 52
scope2_plant_emissions_long['scope2_co2e_tonnes_per_week'] = scope2_plant_emissions_long['utilization'] * scope2_plant_emissions_long['max_tonnes_of_steel_producible_weekly'] * scope2_plant_emissions_long['estimated_emissions_intensity_tonne_per_tonne_scope2']

scope2_plant_emissions_long = scope2_plant_emissions_long[["plant_id"
                                                            ,"plant_name"                                          
                                                            ,"owner"                                               
                                                            ,"lat"                                                 
                                                            ,"lon"                                                 
                                                            ,"state"                                               
                                                            ,"plant_age_years"                                     
                                                            ,"municipality"                                        
                                                            ,"address"                                             
                                                            ,"category_steel_product"                              
                                                            ,"steel_products"                                      
                                                            ,"subregion"                                           
                                                            ,"subregion_name"                                      
                                                            ,"co2e_tonnes_per_mwh"                                 
                                                            ,"region"                                              
                                                            ,"week_end_date"                                       
                                                            ,"utilization"                                         
                                                            ,"estimated_emissions_intensity_tonne_per_tonne_scope2"
                                                            ,"max_tonnes_of_steel_producible_annually"             
                                                            ,"max_tonnes_of_steel_producible_weekly"               
                                                            ,"scope2_co2e_tonnes_per_week"]]

## Rounding the data
scope2_plant_emissions_long_rounded = scope2_plant_emissions_long.round(2)

## Transferring each week to be its own column
scope2_plant_emissions_wide = scope2_plant_emissions_long_rounded.drop(columns = ['utilization']).pivot(
    index = ['plant_id', 'plant_name', 'owner', 'lat', 'lon', 'state',
       'plant_age_years', 'municipality', 'address', 'category_steel_product',
       'steel_products', 'subregion', 'subregion_name', 'co2e_tonnes_per_mwh',
       'region',
       'estimated_emissions_intensity_tonne_per_tonne_scope2',
       'max_tonnes_of_steel_producible_annually',
       'max_tonnes_of_steel_producible_weekly']
    , columns = 'week_end_date'
    , values = 'scope2_co2e_tonnes_per_week'
).reset_index(drop=False)

### Finding Scope 2 values for the complete 2021 year

In [ ]:
yearly_scope2 = scope2_plant_emissions_long.groupby(['plant_id', 'plant_name', 'address', 'lat', 'lon']).agg(scope2_co2e_tonnes_2021 = ('scope2_co2e_tonnes_per_week', 'sum')).reset_index()

yearly_scope2 = yearly_scope2.round(3)

### Extracting zip codes to find matches with addresses

In [ ]:
## Making a copt of yearly_scope2 to work with
zipcode_extraction = yearly_scope2.copy()

## Extracting zip code from address
zipcode_extraction['address2'] = yearly_scope2['address']

## Separate the addresses based off of commas
zipcode_extraction[['zip_code_part1', 'zip_code_part2', 'zip_code_part3', 'zip_code_part4', 'zip_code_part5']] = zipcode_extraction['address2'].str.split(',', expand = True)

## Drop columns we do not need
zipcode_extraction = zipcode_extraction.drop(columns = ['address2', 'zip_code_part1', 'zip_code_part5'])

## Extract only the numeric portions of the addresses and put in NA's if there are no numbers
zipcode_extraction['zip_code_part2'] = zipcode_extraction['zip_code_part2'].str.extract(r'(\d+)')
zipcode_extraction['zip_code_part3'] = zipcode_extraction['zip_code_part3'].str.extract(r'(\d+)')
zipcode_extraction['zip_code_part4'] = zipcode_extraction['zip_code_part4'].str.extract(r'(\d+)')

## Create zip_code column by selecting the non-null values from zip_code_part2, zip_code_part3, zip_code_part4
zipcode_extraction['zip_code'] = zipcode_extraction['zip_code_part2'].fillna(zipcode_extraction['zip_code_part3']).fillna(zipcode_extraction['zip_code_part4'])

## Dropping columns we do not need
zipcode_extraction = zipcode_extraction.drop(columns = ['zip_code_part2', 'zip_code_part3', 'zip_code_part4'])
zipcode_extraction["zip_code"] = pd.to_numeric(zipcode_extraction["zip_code"])

checking_unique_zipcodes_scope2 = zipcode_extraction.groupby('zip_code').size().reset_index(name = 'count')
checking_unique_zipcodes_scope2 = checking_unique_zipcodes_scope2[checking_unique_zipcodes_scope2['count'] < 2].dropna().reset_index()
checking_unique_zipcodes_scope2 = checking_unique_zipcodes_scope2[['zip_code']]

unique_scope2_zipcodes = pd.merge(checking_unique_zipcodes_scope2, zipcode_extraction, how = "left", on = "zip_code")

### Reading in Greenhouse Gas Emissions data (scope 1) and extracting the non-repeating zip codes

The Greenhouse Gas Emissions data we are using includes emissions data of co2 equivalences from steel plants in the United States. We assume that this data is scope 1 and does not include any scope 2 sources. This data includes steel plant names, companies, locations, and emissions data.

In [ ]:
scope1_readin = pd.read_excel("../data/GHG_flight_scope1.xls", skiprows = 5, na_values = ['', 0]).clean_names(strip_underscores = True)

## Making 0 values to NA to align with R code. Python was not reading them in as NA to begin with
scope1_readin['ghg_quantity_metric_tons_co2e'] = scope1_readin['ghg_quantity_metric_tons_co2e'].replace(0, np.nan)

scope1 = scope1_readin[['zip_code', 'ghg_quantity_metric_tons_co2e', 'ghgrp_id']].dropna()

checking_unique_zipcodes_scope1 = scope1.groupby('zip_code').size().reset_index(name = 'count')
checking_unique_zipcodes_scope1 = checking_unique_zipcodes_scope1[checking_unique_zipcodes_scope1['count'] < 2].dropna().reset_index()
checking_unique_zipcodes_scope1 = checking_unique_zipcodes_scope1[['zip_code']]

unique_scope1_zipcodes = pd.merge(checking_unique_zipcodes_scope1, scope1, how = "left", on = "zip_code")

### Joining scope 1 and scope 2 unique zip codes

In [ ]:
## Manually checked zip codes and addresses and plant names and the following are for sure a match
scope_1_and_2_zipcode_matches_all_columns = pd.merge(unique_scope1_zipcodes, unique_scope2_zipcodes, on = "zip_code", how = "inner").dropna().rename(columns = {'ghg_quantity_metric_tons_co2e':'scope1_co2e_tonnes_2021'})

scope_1_and_2_zipcode_matches = scope_1_and_2_zipcode_matches_all_columns.reindex(columns=["zip_code"])

### Anti-Joining to find remaining zip codes that had not matched and manually matching them

In [ ]:
## Anti-Joining to find remaining zip codes that had not matched and manually matching them
remaining_zipcodes = pd.merge(zipcode_extraction, scope_1_and_2_zipcode_matches, on = "zip_code", how = "left", indicator = True)
remaining_zipcodes = remaining_zipcodes[remaining_zipcodes['_merge'] == 'left_only'].drop(columns='_merge')

corrected_ghgids = remaining_zipcodes.copy()

## Correctly matching the zip codes and assigning the plant id equivalents between both datasets 
ghgid_conditions = [
  remaining_zipcodes['plant_id'] == "SUS00002"
, remaining_zipcodes['plant_id'] == "SUS00007"
, remaining_zipcodes['plant_id'] == "SUS00015"
, remaining_zipcodes['plant_id'] == "SUS00042"
, remaining_zipcodes['plant_id'] == "SUS00019"
, remaining_zipcodes['plant_id'] == "SUS00025"
, remaining_zipcodes['plant_id'] == "SUS00032"
, remaining_zipcodes['plant_id'] == "SUS00058"
, remaining_zipcodes['plant_id'] == "SUS00029"
]

ghgid_choices = [
  "1003268"
, "1003668"
, "1000394"
, "1004616"
, "1002977"
, "1007642"
, "1007921"
, "1007348"
, "1005700"]

corrected_ghgids['ghgrp_id'] = np.select(ghgid_conditions, ghgid_choices, default=remaining_zipcodes['plant_id'])

corrected_ghgids['ghgrp_id'] = pd.to_numeric(corrected_ghgids['ghgrp_id'])

corrected_ghgids = pd.merge(corrected_ghgids, scope1, how = "left", on = "ghgrp_id").drop(columns = ['zip_code_x', 'zip_code_y']).rename(columns = {'ghg_quantity_metric_tons_co2e':'scope1_co2e_tonnes_2021'})

### Combining all of our data to get a final dataset with scope 1 and 2 2021 values

In [58]:
## Finding the total amount of emissions per plant per year 
scope_1_and_2_emissions_2021_prestep = pd.merge(scope_1_and_2_zipcode_matches_all_columns, corrected_ghgids, how = "outer").drop(columns = 'zip_code')
scope_1_and_2_emissions_2021_prestep['total_co2e_tonnes_2021'] = scope_1_and_2_emissions_2021_prestep['scope1_co2e_tonnes_2021'] + scope_1_and_2_emissions_2021_prestep['scope2_co2e_tonnes_2021']
# scope_1_and_2_emissions_2021_prestep['zip_code'] = scope_1_and_2_emissions_2021_prestep['zip_code'].apply(int)

scope_1_and_2_emissions_2021 = pd.merge(scope_1_and_2_emissions_2021_prestep, scope2_plant_emissions_long, how = "left").drop(columns = ['week_end_date', 'utilization', 'estimated_emissions_intensity_tonne_per_tonne_scope2', 'max_tonnes_of_steel_producible_weekly', 'scope2_co2e_tonnes_per_week']).drop_duplicates().round(3)

### Adding on the matched columns and id numbers onto our scope 2 data

In [ ]:
## Finding weekly scope 2 values first
weekly_scope2_plant_emissions_long = pd.merge(scope_1_and_2_emissions_2021_prestep, scope2_plant_emissions_long, how = "left").drop(columns = ['total_co2e_tonnes_2021', 'scope1_co2e_tonnes_2021', 'scope2_co2e_tonnes_2021']).round(3)

weekly_scope2_plant_emissions_long = weekly_scope2_plant_emissions_long[["plant_id"                                            
,"ghgrp_id"                                            
,"plant_name"                                          
,"lat"                                                 
,"lon"                                                 
,"address"                                             
,"owner"                                               
,"state"                                               
,"plant_age_years"                                     
,"municipality"                                        
,"category_steel_product"                              
,"steel_products"                                      
,"subregion"                                           
,"subregion_name"                                      
,"region"                                              
,"week_end_date"                                       
,"utilization"                                         
,"co2e_tonnes_per_mwh"                                 
,"estimated_emissions_intensity_tonne_per_tonne_scope2"
,"max_tonnes_of_steel_producible_annually"             
,"max_tonnes_of_steel_producible_weekly"               
,"scope2_co2e_tonnes_per_week"]]

weekly_scope2_plant_emissions_wide = weekly_scope2_plant_emissions_long.drop(columns = ['utilization']).pivot(
    index = ["plant_id"                                            
,"ghgrp_id"                                            
,"plant_name"                                          
,"lat"                                                 
,"lon"                                                 
,"address"                                             
,"owner"                                               
,"state"                                               
,"plant_age_years"                                     
,"municipality"                                        
,"category_steel_product"                              
,"steel_products"                                      
,"subregion"                                           
,"subregion_name"                                      
,"region"                                                                                                                         
,"co2e_tonnes_per_mwh"                                 
,"estimated_emissions_intensity_tonne_per_tonne_scope2"
,"max_tonnes_of_steel_producible_annually"             
,"max_tonnes_of_steel_producible_weekly"               ]
    , columns = 'week_end_date'
    , values = 'scope2_co2e_tonnes_per_week'
).reset_index(drop=False)

### Making our annual 2021 data into weekly to see breakdown of weekly co2e productions that include scope 1 AND scope 2

In [ ]:
weekly_scope_1_and_2_long = pd.merge(scope_1_and_2_emissions_2021_prestep, scope2_plant_emissions_long)

weekly_scope_1_and_2_long['scope1_tonnes_of_co2e_per_week'] = weekly_scope_1_and_2_long['scope1_co2e_tonnes_2021'] / 52
weekly_scope_1_and_2_long['total_weekly_co2e_tonnes'] = weekly_scope_1_and_2_long['scope1_tonnes_of_co2e_per_week'] + weekly_scope_1_and_2_long['scope2_co2e_tonnes_per_week'].drop(columns = ['total_co2e_tonnes_2021', 'scope1_co2e_tonnes_2021', 'scope2_co2e_tonnes_2021'])
weekly_scope_1_and_2_long = weekly_scope_1_and_2_long[["plant_id"                                            
,"ghgrp_id"                                            
,"plant_name"                                          
,"lat"                                                 
,"lon"                                                 
,"address"                                             
,"owner"                                               
,"state"                                               
,"plant_age_years"                                     
,"municipality"                                        
,"category_steel_product"                              
,"steel_products"                                      
,"subregion"                                           
,"subregion_name"                                      
,"region"                                              
,"week_end_date"                                       
,"utilization"                                         
,"co2e_tonnes_per_mwh"                                 
,"estimated_emissions_intensity_tonne_per_tonne_scope2"
,"max_tonnes_of_steel_producible_annually"             
,"max_tonnes_of_steel_producible_weekly"               
,"scope2_co2e_tonnes_per_week"                         
,"scope1_tonnes_of_co2e_per_week"                      
,"total_weekly_co2e_tonnes"  ]]


weekly_scope_1_and_2_wide = weekly_scope_1_and_2_long.drop(columns = ['utilization', 'scope2_co2e_tonnes_per_week']).pivot(
    index = ["plant_id"                                            
,"ghgrp_id"                                            
,"plant_name"                                          
,"lat"                                                 
,"lon"                                                 
,"address"                                             
,"owner"                                               
,"state"                                               
,"plant_age_years"                                     
,"municipality"                                        
,"category_steel_product"                              
,"steel_products"                                      
,"subregion"                                           
,"subregion_name"                                      
,"region"                                                                                      
,"co2e_tonnes_per_mwh"                                 
,"estimated_emissions_intensity_tonne_per_tonne_scope2"
,"max_tonnes_of_steel_producible_annually"             
,"max_tonnes_of_steel_producible_weekly"                                       
,"scope1_tonnes_of_co2e_per_week"]
    , columns = 'week_end_date'
    , values = 'total_weekly_co2e_tonnes'
).reset_index(drop=False)

### Finding the amount of steel produced weekly and annually (_long and _wide denote datasets with weekly values)

In [ ]:
### Weekly plant productions long
plant_productions_long = scope2_plant_emissions_long.drop(columns = ['scope2_co2e_tonnes_per_week'])

plant_productions_long['tonnes_of_steel_produced'] = plant_productions_long['utilization'] * plant_productions_long['max_tonnes_of_steel_producible_weekly']

## Rounding the data
plant_productions_long_rounded = plant_productions_long.round(3)

## Amount of steel produced per week
plant_productions_wide = plant_productions_long_rounded.drop(columns = ['utilization']).pivot(
    index = ['plant_id', 'plant_name', 'owner', 'lat', 'lon', 'state',
       'plant_age_years', 'municipality', 'address', 'category_steel_product',
       'steel_products', 'subregion', 'subregion_name', 'co2e_tonnes_per_mwh',
       'region',
       'estimated_emissions_intensity_tonne_per_tonne_scope2',
       'max_tonnes_of_steel_producible_annually',
       'max_tonnes_of_steel_producible_weekly']
    , columns = 'week_end_date'
    , values = 'tonnes_of_steel_produced'
).reset_index(drop=False)

### 2021 Year ----
## Amount of steel produced in 2021
plant_productions_2021 = plant_productions_long_rounded.drop(columns = ['week_end_date', 'utilization'])

plant_productions_2021 = plant_productions_2021.groupby(['plant_id', 'plant_name', 'owner', 'lat', 'lon', 'state',
       'plant_age_years', 'municipality', 'address', 'category_steel_product',
       'steel_products', 'subregion', 'subregion_name', 'co2e_tonnes_per_mwh',
       'region', 'estimated_emissions_intensity_tonne_per_tonne_scope2',
       'max_tonnes_of_steel_producible_annually',
       'max_tonnes_of_steel_producible_weekly']).sum().reset_index().rename(columns = {'tonnes_of_steel_produced':'total_tonnes_steel_produced_2021'})

In [63]:
total_steel_plant_emissions_and_productions_2021 = pd.merge(plant_productions_2021, scope_1_and_2_emissions_2021, how = 'left')

total_steel_plant_emissions_and_productions_2021['emissions_intensity_co2e_tonne_per_tonne'] = total_steel_plant_emissions_and_productions_2021['total_co2e_tonnes_2021'] / total_steel_plant_emissions_and_productions_2021['total_tonnes_steel_produced_2021']

total_steel_plant_emissions_and_productions_2021['estimated_emissions_intensity_tonne_per_tonne_scope1'] = total_steel_plant_emissions_and_productions_2021['scope1_co2e_tonnes_2021'] / total_steel_plant_emissions_and_productions_2021['total_tonnes_steel_produced_2021']

total_steel_plant_emissions_and_productions_2021 = total_steel_plant_emissions_and_productions_2021[["plant_id"                                            
, "ghgrp_id"                                            
, "plant_name"                                          
, "owner"                                               
, "lat"                                                 
, "lon"                                                 
, "state"                                               
, "plant_age_years"                                     
, "municipality"                                        
, "address"                                             
, "category_steel_product"                              
, "steel_products"                                      
, "subregion"                                           
, "subregion_name"                                      
, "co2e_tonnes_per_mwh"                                 
, "region"                                              
, "estimated_emissions_intensity_tonne_per_tonne_scope1"
, "estimated_emissions_intensity_tonne_per_tonne_scope2"
, "emissions_intensity_co2e_tonne_per_tonne"            
, "max_tonnes_of_steel_producible_annually"             
, "max_tonnes_of_steel_producible_weekly"               
, "scope1_co2e_tonnes_2021"                             
, "scope2_co2e_tonnes_2021"                             
, "total_co2e_tonnes_2021"                              
, "total_tonnes_steel_produced_2021"   ]].round(3)

## Downloading Data

### Weekly scope 1 and 2 co2e wide

In [64]:
total_steel_plant_emissions_and_productions_2021

,plant_id,ghgrp_id,plant_name,owner,lat,lon,state,plant_age_years,municipality,address,...,region,estimated_emissions_intensity_tonne_per_tonne_scope1,estimated_emissions_intensity_tonne_per_tonne_scope2,emissions_intensity_co2e_tonne_per_tonne,max_tonnes_of_steel_producible_annually,max_tonnes_of_steel_producible_weekly,scope1_co2e_tonnes_2021,scope2_co2e_tonnes_2021,total_co2e_tonnes_2021,total_tonnes_steel_produced_2021
0,SUS00002,1003268,Cleveland-Cliffs Butler steel plant,Cleveland-Cliffs Inc,40.845524,-79.921452,Pennsylvania,115,Lyndora,"1 Armco Dr, Lyndora, PA 16045-1065, United States",...,North East,0.049,0.358,0.407,1000000.00,19230.769,35074.0,258480.013,293554.013,721591.624
1,SUS00007,1003668,Cleveland-Cliffs Coatesville steel plant,Cleveland-Cliffs Inc,39.977819,-75.824512,Pennsylvania,213,Coatesville,"139 Modena Road, Coatesville, PA 19230, United...",...,North East,0.259,0.358,0.617,800000.00,15384.615,149470.0,206784.010,356254.010,577273.299
2,SUS00008,1004215,Cleveland-Cliffs Steelton steel plant,Cleveland-Cliffs Inc,40.230720,-76.838506,Pennsylvania,157,Steelton,"215 S. Front St., Steelton, PA 17113, United S...",...,North East,0.143,0.358,0.501,1000000.00,19230.769,102986.0,258480.013,361466.013,721591.624
3,SUS00011,1012997,U.S. Steel Big River Steel plant,Big River Steel LLC,35.644264,-89.941659,Arkansas,9,Osceola,"2027 State Hwy 198, Osceola, Arkansas 72370, U...",...,Southern,0.170,0.341,0.512,3300000.00,63461.538,527966.0,1057949.432,1585915.432,3099519.463
4,SUS00012,1004259,CMC Steel Texas plant,Commercial Metals Co,29.577459,-98.032017,Texas,41,Seguin,"1 Steel Mill Dr., Seguin, Texas 78155, United ...",...,Southern,0.251,0.405,0.656,943000.00,18134.615,222320.0,358823.291,581143.291,885711.166
5,SUS00013,1003902,Evraz Pueblo steel plant,Evraz North America PLC,38.225770,-104.607895,Colorado,142,Pueblo,"2100 South Freeway, Pueblo, Colorado 81004, Un...",...,Western,0.261,0.596,0.857,1100000.00,21153.846,243554.0,556048.091,799602.091,932702.487
6,SUS00014,1005344,Gerdau Midlothian Steel Mill,Gerdau Long Steel North America,32.457544,-97.034246,Texas,53,Midlothian,"300 Ward Road, 76065 Midlothian, Texas, United...",...,Southern,0.163,0.405,0.568,1786000.00,34346.154,272784.0,679595.331,952379.331,1677497.506
7,SUS00015,1000394,Gerdau Petersburg Steel Mill,Gerdau Long Steel North America,37.181168,-77.449517,Virginia,25,Petersburg,"25801 Hofheimer Way, Petersburg, Virginia 2380...",...,Southern,0.149,0.382,0.531,1000000.00,19230.769,140045.0,358983.100,499028.100,939248.325
8,SUS00016,1005283,SSAB Americas Alabama steel plant,SSAB Americas Holding AB,30.941783,-88.012437,Alabama,22,Axis,"12400 Highway 43 North, Axis, Alabama 36505, U...",...,Southern,0.259,0.385,0.644,1250000.00,24038.462,303823.0,452160.573,755983.573,1174060.400
9,SUS00017,1002147,SSAB Americas Iowa steel plant,SSAB Americas Holding AB,41.482009,-90.820921,Iowa,26,Muscatine,"1770 Bill Sharp Boulevard, Muscatine, Iowa 527...",...,Midwest,0.456,0.627,1.083,1250000.00,24038.462,349496.0,481340.292,830836.292,767148.489
10,SUS00018,1013051,JSW Steel USA Ohio plant,Jsw Steel USA Ohio Inc,40.314891,-80.605553,Ohio,5,Mingo Junction,"1500 Commercial Avenue, Mingo Junction, Ohio 4...",...,North East,0.070,0.522,0.592,1500000.00,28846.154,75391.0,565096.038,640487.038,1082387.435
11,SUS00019,1002977,North American Stainless steel plant,North American Stainless Inc,38.725418,-85.076015,Kentucky,33,Ghent,"6870 Highway 42 East, Ghent, Kentucky, 41045-9...",...,Midwest,0.359,0.515,0.873,1600000.00,30769.231,352251.0,505286.632,857537.632,981950.054
12,SUS00020,1005163,BlueScope North Star Steel plant,North Star BlueScope Steel LLC,41.568783,-84.048129,Ohio,27,Delta,"6767 County Road 9, Delta, Ohio 43515, United ...",...,Great Lakes,0.189,0.529,0.717,2183000.00,41980.769,303106.0,849853.499,1152959.499,1607848.918
13,SUS00021,1002266,Nucor Steel Berkeley plant,Nucor Corp,33.004319,-79.880955,South Carolina,27,Huger,"1455 Hagan Avenue, Huger, South Carolina 29450...",...,Southern,0.251,0.382,0.633,2956000.00,56846.154,696472.0,1061154.044,1757626.044,2776418.037
14,SUS00022,1004151,Nucor Steel Crawfordsville plant,Nucor Corp,39.976379,-86.830727,Indiana,34,Crawfordsville,"4537 South Nucor Road, Crawfordsville, Indiana...",...,Great Lakes,0.209,0.522,0.731,2304000.00,44307.692,354316.0,885958.744,1240274.744,1696969.270
15,SUS00023,1007946,Nucor Steel Darlington plant,Nucor Corp,34.375628,-79.895165,South Carolina,54,Darlington,"300 Steel Mill Road, Darlington, South Carolin...",...,Southern,0.210,0.382,0.593,907000.00,17442.308,179163.0,325597.672,504760.672,851898.227
16,SUS00024,1002958,Nucor Steel Hertford plant,Nucor Corp,36.353006,-76.811471,North Carolina,23,Cofield,"1505 River Road, Cofield, North Carolina 27922...",...,Southern,0.160,0.382,0.542,1542000.00,29653.846,231434.0,553551.941,784985.941,1448320.910
17,SUS00025,1007642,Nucor Steel Hickman plant,Nucor Corp,35.901162,-89.776190,Arkansas,31,Armorel,"5929 East State Highway 18, Armorel, Arkansas ...",...,Southern,0.197,0.341,0.539,2450000.00,47115.385,454106.0,785447.306,1239553.306,2301158.391
18,SUS00026,1007695,Nucor Steel Norfolk plant,Nucor Corp,42.078908,-97.360854,Nebraska,44,Norfolk,"2911 East Nucor Road, Norfolk, Nebraska 68701,...",...,Midwest,0.296,0.627,0.923,1134000.00,21807.692,205786.0,436671.913,642457.913,695957.104
19,SUS00027,1003093,Nucor Steel Memphis plant,Nucor Steel Memphis Inc,35.048395,-90.163033,Tennessee,15,Memphis,"3601 Paul R. Lowry Road, Memphis, Tennessee 38...",...,Southern,0.182,0.515,0.697,891000.00,17134.615,152656.0,430632.240,583288.240,836870.256
20,SUS00028,1005976,Nucor Steel Decatur plant,Nucor Steel Decatur LLC,34.639630,-87.085738,Alabama,26,Trinity,"4301 Iverson Boulevard, Trinity, Alabama 35673...",...,Southern,0.234,0.515,0.748,2268000.00,43615.385,497720.0,1096154.792,1593874.792,2130215.191
21,SUS00029,1005700,Nucor Steel Gallatin plant,Nucor Corp,38.759878,-84.996204,Kentucky,28,Ghent,"4831 U.S. Hwy 42 W, Ghent, Kentucky 41405, Uni...",...,Midwest,0.246,0.515,0.760,1452000.00,27923.077,219010.0,458547.619,677557.619,891119.676
22,SUS00030,1002621,Nucor Steel Kankakee plant,Nucor Steel Kankakee Inc,41.180734,-87.856196,Illinois,62,Bourbonnais,"One Nucor Way, Bourbonnais, Illinois 60914, Un...",...,Great Lakes,0.193,0.522,0.715,794000.00,15269.231,112761.0,305317.379,418078.379,584806.250
23,SUS00031,1005832,Nucor Steel Jewett plant,Nucor Corp,31.351853,-96.165436,Texas,48,Jewett,"8812 Highway 79 West, Jewett, Texas 75846, Uni...",...,Southern,0.207,0.341,0.549,907000.00,17442.308,176528.0,290775.799,467303.799,851898.227
24,SUS00032,1007921,Nucor-Yamato Steel Blytheville plant,Nucor Yamato Steel Co,35.941421,-89.713819,Arkansas,35,Blytheville,"7301 East County Road 142, Blytheville, Arkans...",...,Southern,0.190,0.341,0.531,2632000.00,50615.385,469008.0,843794.820,1312802.820,2472101.586
25,SUS00033,1003457,Nucor Steel Tuscaloosa plant,Nucor Steel Tuscaloosa Inc,33.234761,-87.508498,Alabama,38,Tuscaloosa,"1700 Holt Road, Tuscaloosa, Alabama 35404, Uni...",...,Southern,0.220,0.385,0.605,1200000.00,23076.923,247481.0,434074.150,681555.150,1127097.987
26,SUS00034,1005777,Nucor Steel Plymouth plant,Nucor Corp,41.882789,-112.196743,Utah,42,Plymouth,"7285 W 21200 N West Cemetery Road, Plymouth, U...",...,Western,0.295,0.493,0.788,908000.00,17461.538,227152.0,379330.244,606482.244,769903.506
27,SUS00035,1000029,Nucor Steel Seattle plant,Nucor Steel Seattle Inc,47.569597,-122.367395,Washington,119,Seattle,"2424 SW Andover Street, Seattle, Washington 98...",...,Western,0.135,0.493,0.627,855000.00,16442.308,97512.0,357188.721,454700.721,724964.207
28,SUS00037,1010763,Outokumpu Stainless USA steel plant,Outokumpu Stainless Usa LLC,31.148179,-87.988660,Alabama,16,Calvert,"1 Steel Dr., Calvert, Alabama, 36513-1300, Uni...",...,Southern,0.221,0.385,0.606,1000000.00,19230.769,207193.0,361728.458,568921.458,939248.325
29,SUS00038,1003799,Republic Steel Canton plant,Republic Steel,40.804114,-81.334002,Ohio,137,Canton,"3707 Georgetown St. N.E., Canton, Ohio 44704-2...",...,North East,0.180,0.522,0.703,1092000.00,21000.000,142201.0,411389.916,553590.916,787978.057
30,SUS00040,1005584,Steel Dynamics Butler plant,Steel Dynamics Inc,41.370640,-84.917454,Indiana,27,Butler,"4500 County Road 59, Butler, Indiana 46721, Un...",...,Great Lakes,0.417,0.522,0.939,3000000.00,57692.308,922011.0,1153592.114,2075603.114,2209595.405
31,SUS00041,1005602,Steel Dynamics Columbia City plant,Steel Dynamics Inc,41.121613,-85.348602,Indiana,21,Columbia City,"2601 County Road 700 East, Columbia City, Indi...",...,Great Lakes,0.239,0.522,0.761,2000000.00,38461.538,351669.0,769061.409,1120730.409,1473063.602
32,SUS00042,1004616,Steel Dynamics Columbus plant,Steel Dynamics Inc,33.447580,-88.572683,Mississippi,16,Columbus,"1945 Airport Road / P.O. Box 1467, Columbus, M...",...,Southern,0.180,0.515,0.695,3400000.00,65384.615,575209.0,1643265.561,2218474.561,3193444.291
33,SUS00044,1006269,Leggett & Platt Sterling Steel plant,Sterling Steel Co LLC,41.785971,-89.710947,Illinois,20,Sterling,"101, Ave K, Sterling, Illinois 61081, United S...",...,Midwest,0.084,0.522,0.606,1698000.00,32653.846,87896.0,544059.783,631955.783,1042094.495
34,SUS00045,1003860,Timken Faircrest steel plant,TimkenSteel Corp,40.755388,-81.439369,Ohio,106,Canton,"4511 Faircrest St. SW, Canton, Ohio 44706, Uni...",...,North East,0.290,0.522,0.812,1200000.00,23076.923,251409.0,452076.830,703485.830,865909.945
35,SUS00048,1000159,U.S. Steel Fairfield plant,United States Steel Corp,33.480697,-86.937854,Alabama,3,Fairfield,"5700 Valley Road, Fairfield, Alabama 35064, Un...",...,Southern,0.123,0.385,0.508,1600000.00,30769.231,184696.0,578765.533,763461.533,1502797.315
36,SUS00054,1006530,Cleveland-Cliffs Mansfield Works,Cleveland-Cliffs Inc,40.790123,-82.526239,Ohio,99,Mansfield,"913 Bowman Street, Mansfield, OH 44903",...,Midwest,0.319,0.522,0.841,600000.00,11538.462,117382.0,192247.273,309629.273,368231.272
37,SUS00055,1000714,Steel Dynamics Roanoke steel plant,Steel Dynamics Inc,37.272927,-79.998828,Virginia,68,Roanoke,"102 Westside Blvd, Roanoke, VA 24017",...,Southern,0.162,0.522,0.684,660000.00,12692.308,100256.0,323641.261,423897.261,619903.895
38,SUS00056,1003688,Steel Dynamics Engineered Bar Products steel p...,Steel Dynamics Inc,39.875508,-86.484214,Indiana,19,Pittsboro,"8000 North County Road 225 East , Pittsboro, I...",...,Great Lakes,0.361,0.522,0.883,725000.00,13942.308,192833.0,278784.761,471617.761,533985.552
39,SUS00057,1002768,Vallourec Star Youngstown steel plant,Vallourec Star LP,41.125495,-80.683382,Ohio,38,Youngstown,"2669 Martin Luther King Jr. Blvd, Youngstown, ...",...,North East,0.297,0.522,0.819,694000.00,13346.154,148542.0,261451.100,409993.100,500784.586
40,SUS00058,1007348,Optimus Steel Beaumont plant,Optimus Steel LLC,30.08201,-94.074694,Texas,47,Beaumont,"PO BOX 3869, Beaumont, TX 77704, United States",...,Southern,0.109,0.341,0.450,700000.00,13461.538,71537.0,224413.516,295950.516,657473.824
41,SUS00059,1007866,NLMK Indiana steel plant,NLMK Indiana LLC,41.625912,-87.159989,Indiana,31,Portage,"6500 S Boundary Rd, Portage, IN 46368, United ...",...,Great Lakes,0.226,0.522,0.748,770000.00,14807.692,128017.0,296088.643,424105.643,567129.485
42,SUS00060,1004811,Liberty Steel & Wire Peoria plant,Liberty Steel,41.513249,-87.621438,Illinois,25,Peoria,"7000 S W Adams St. Peoria, IL 61641, United St...",...,Midwest,0.319,0.522,0.841,725000.00,13942.308,142039.0,232298.789,374337.789,444946.123
43,SUS00062,1008735,Finkl Steel Chicago plant,A Finkl & Sons Co,41.724915,-87.589968,Illinois,12,Chicago,"1355 East 93rd Street, Chicago, IL 60619, Unit...",...,Great Lakes,0.099,0.522,0.621,573000.00,11019.231,41604.0,220336.094,261940.094,422032.722
44,SUS00063,1001103,Gerdau Cartersville steel plant,Gerdau Long Steel North America,34.241226,-84.799539,Georgia,27,Cartersville,"384 Old Grassdale Rd NE, Cartersville, GA 3012...",...,Southern,0.106,0.385,0.491,908000.00,17461.538,90128.0,328449.440,418577.440,852837.472
45,SUS00066,1003052,Gerdau Fort Smith steel plant,Gerdau Steel North America Inc,35.307055,-94.372912,Arkansas,39,Fort Smith,"5225 Planters Rd, Fort Smith, AR 72916, United...",...,Southern,0.183,0.341,0.525,550000.00,10576.923,94662.0,176324.905,270986.905,516586.573
46,SUS00067,1004411,Gerdau Monroe steel plant,Gerdau Steel North America Inc,41.894229,-83.358697,Michigan,43,Monroe,"3000 E Front St, Monroe, MI 48161, United States",...,Great Lakes,0.193,0.529,0.722,771000.00,14826.923,109759.0,300154.397,409913.397,567866.015
47,SUS00068,1005755,Cascade Steel Rolling Mills,Cascade Steel Rolling Mills Inc,45.228035,-123.163599,Oregon,55,McMinnville,"3200 NE Highway 99W, McMinnville, OR 97128 US",...,Western,0.094,0.493,0.587,860000.00,16538.462,68457.0,359277.544,427734.544,729203.748
48,SUS00069,1006901,Charter Steel Saukville plant,Charter Manufacturing Company Inc,43.400533,-87.94820,Wisconsin,32,Saukville,"1658 Cold Springs Road, Saukville, WI 53080, U...",...,Great Lakes,0.367,0.522,0.889,550000.00,10576.923,148805.0,211491.888,360296.888,405092.490
49,SUS00070,1003474,Charter Steel Cleveland plant,Charter Manufacturing Company Inc,41.443147,-81.659911,Ohio,17,Cuyahoga Heights,"4300 East 49th Street, Cuyahoga Heights, OH 44...",...,Great Lakes,0.306,0.522,0.828,635000.00,12211.538,143123.0,244176.997,387299.997,467697.695
50,SUS00073,1002216,CMC Steel Florida plant,Commercial Metals Co,30.282907,-81.978735,Florida,17,Jacksonville,"16770 Rebar Road, Jacksonville, FL 32234, Unit...",...,Southern,0.108,0.319,0.427,949000.00,18250.000,96234.0,284351.173,380585.173,891346.658
51,SUS00074,1006708,CMC Steel New Jersey plant,Commercial Metals Co,40.478824,-74.321187,New Jersey,29,Sayreville,"1 Crossman Road North, Sayreville, NJ 08872, U...",...,North East,0.141,0.358,0.499,653000.00,12557.692,66529.0,168787.448,235316.448,471199.325
52,SUS00075,1003981,CMC Alabama steel plant,Commercial Metals Co,33.534372,-86.75773,Alabama,29,Birmingham,"101 South 50th St., Birmingham, AL 35212, Unit...",...,Southern,0.181,0.385,0.566,653000.00,12557.692,111064.0,236208.683,347272.683,613329.151
53,SUS00076,1005346,CMC South Carolina steel plant,Commercial Metals Co,33.962272,-81.052011,South Carolina,31,Cayce,"310 New State Rd., Cayce, SC 29033, United States",...,Southern,0.143,0.382,0.525,776000.00,14923.077,104371.0,278570.886,382941.886,728856.699
54,SUS00077,1006906,CMC Tennessee steel plant,Commercial Metals Co,35.978104,-83.956572,Tennessee,23,Knoxville,"1919 Tennessee Avenue, Knoxville, TN 37921, Un...",...,Southern,0.176,0.515,0.691,544000.00,10461.538,89981.0,262922.490,352903.490,510951.083
55,SUS00078,1004038,CMC Arizona steel plant,Commercial Metals Co,33.285828,-111.586561,Arizona,14,Mesa,"11444 East Germann Rd., Mesa, AZ 85212, United...",...,Western,0.203,0.420,0.623,354000.00,6807.692,60957.0,125938.413,186895.413,300160.618
56,SUS00082,1003268,Alton Steel plant,Alton Steel Inc,38.884465,-90.14579,Illinois,20,Alton,"#5 Cut St, Alton, IL 62002 United States",...,Midwest,0.084,0.634,0.718,680388.75,13084.399,35074.0,264824.463,299898.463,417567.360

In [37]:
scope_1_and_2_emissions_2021.columns

Index(['scope1_co2e_tonnes_2021', 'ghgrp_id', 'plant_id', 'plant_name',
       'address', 'lat', 'lon', 'scope2_co2e_tonnes_2021',
       'total_co2e_tonnes_2021', 'owner', 'state', 'plant_age_years',
       'municipality', 'category_steel_product', 'steel_products', 'subregion',
       'subregion_name', 'co2e_tonnes_per_mwh', 'region',
       'max_tonnes_of_steel_producible_annually'],
      dtype='object')

In [36]:
plant_productions_2021.columns

Index(['plant_id', 'plant_name', 'owner', 'lat', 'lon', 'state',
       'plant_age_years', 'municipality', 'address', 'category_steel_product',
       'steel_products', 'subregion', 'subregion_name', 'co2e_tonnes_per_mwh',
       'region', 'estimated_emissions_intensity_tonne_per_tonne_scope2',
       'max_tonnes_of_steel_producible_annually',
       'max_tonnes_of_steel_producible_weekly',
       'total_tonnes_steel_produced_2021'],
      dtype='object')